<!DOCTYPE html>
<html lang="kr">
<head>



{{> /include/header}}
    
    
    
    
</head>
<body>
	
	


{{> /include/navigation}}



			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container">
		<table class="table table-condensed">
			<caption>User List</caption>
			<thead>
				<tr>
					<th>#</th>
					<th>UserID</th>
					<th>Name</th>
					<th>Email</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				{{#users}}
				<tr>
					<th scope="row">{{id}}</th>
					<td>{{userId}}</td>
					<td>{{name}}</td>
					<td>{{email}}</td>
					<td><a href="/users/{{id}}/form" class="btn btn-success" role="button">Edit</a></td>
				</tr>
				{{/users}}
			</tbody>
		</table>
	</div>
	
	{{> /include/footer}}
	
	
</body>
</html>